# Puerto donde corre tu API
PORT=3000

# Entorno: development | production | test
NODE_ENV=development

# Datos generales de la API
API_NAME=Mi API Base
API_VERSION=v1

# Origen permitido para CORS (tu frontend)
CORS_ORIGIN=http://localhost:5173

# Clave secreta para JWT (cambiala, debe ser larga y aleatoria)
JWT_SECRET=cambia_esto_por_algo_muy_largo_y_aleatorio_123!

# Conexion a base de datos
DATABASE_URL=postgresql://la_quinta_pruebas:la_quinta_pruebass@localhost:5433/rummy

DB_HOST=localhost
DB_PORT=5433
DB_NAME=rummy
DB_USER=la_quinta_pruebas
DB_PASSWORD=la_quinta_pruebass

DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true

DB_POOL_MAX=10
DB_CONNECTION_TIMEOUT_MS=5000
DB_IDLE_TIMEOUT_MS=30000

PGSSLMODE=disable
